.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
keys
.env
env.local
.env
bos*.json
mnt*.json
oracle*.json
randomness_queue.json
sb_randomness_config.json
ondemand.so
switchboard.so
metadata.so
local_set_up_and_tests.sh